DJANGO_SECRET_KEY=change-me-local-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend
DJANGO_SETTINGS_MODULE=config.settings.local

POSTGRES_DB=uziel_os
POSTGRES_USER=uziel_os_user
POSTGRES_PASSWORD=uziel_os_password
POSTGRES_HOST=db
POSTGRES_PORT=5432
DATABASE_URL=postgres://uziel_os_user:uziel_os_password@db:5432/uziel_os

REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

TIME_ZONE=America/Merida
LANGUAGE_CODE=es-mx
